* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
 }

html, body {
    height: 100%;
}
 
body {
    height: 90vh;
    margin: 0;
    background: linear-gradient(160deg, #8499f8, #32e0ff);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background: #ffffff;
    padding: 40px;
    padding-top: 20px;
    width: 100%;
    
    max-width: 380px;
    border-radius: 12px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.login-container h1 {
    text-align: center;
    margin-bottom: 37px;
    transform: translateY(-15px);
    color: #111827;
}

.Pozdravljeni {
    text-align: center;
    transform: translateY(-30px);
}

.Pozdravljeni .naslov {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4px;
}

.Pozdravljeni .podnaslov {
    font-size: 14px;
    color: #6b7280;
    margin: 0;
}


.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    color: #374151;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #d1d5db;
    font-size: 14px;
}

.form-group input:focus {
    outline: none;
    border-color: #6366f1;
    box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.2);
}

.login-button {
    width: 100%;
    padding: 12px;
    background: #158eff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
            
}

.login-button:hover {
    background: #0059ffe7;
}

.Registrirani {
    text-align: center;
    margin-top: -12px;
    transform: translateY(20px);
}

.Vprasanje {
    font-size: 15px;
    color: #374151;
}

.Registracija-link {
    margin-left: 4px;
    color: #3f88db;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.2s ease, text-decoration 0.2s ease;
}

.Registracija-link:hover {
    text-decoration: underline;
    color: #3fa1fd;
}

.error-message {
    display: none;
    background-color: #fee;
    color: #c33;
    padding: 12px;
    border-radius: 5px;
    margin-top: 15px;  
    margin-bottom: 0;
    border: 1px solid #fcc;
    font-size: 14px;
}
